#app {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #313131;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 
button:active {
  border-style: outset;
}
a {
  text-decoration: none;
}
body {
  background: white;
}
h1 {
  font-size: 22px;
  font-weight: bold;
}
input {
  width: 284px;
  height: 45px;
  padding: 5px;
  border: 1px #9A1982 solid;
  border-radius: 10px;
  font-size: 14px;
  margin: 8px 0px;
  background-color: #F9F9F9;
}
.arrowIcon{
  font-size: 14px;
  color:#707070;
}